/*--------------------------------------------------------------------------
	1. Grid System
--------------------------------------------------------------------------*/
.container {
	position: relative;
}

/* Container */
.container {
	width: 720px;
	margin: 0 auto;
	/* Columns */

}

.container .column,
.container .columns {
	float: left;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container .column.nest,
.container .columns.nest,
.container .column.nested,
.container .columns.nested {
	padding-left: 0;
	padding-right: 0;
}



.desktop-1 { width: 60px; }
.desktop-2 { width: 120px; }
.desktop-3 { width: 180px; }
.desktop-4 { width: 240px; }
.desktop-5 { width: 300px; }
.desktop-6 { width: 360px; }
.desktop-7 { width: 420px; }
.desktop-8 { width: 480px; }
.desktop-9 { width: 540px; }
.desktop-10 { width: 600px; }
.desktop-11 { width: 660px; }
.desktop-12 { width: 720px; }



.offset-1 { margin-left: 60px; }
.offset-2 {	margin-left: 120px; }
.offset-3 {	margin-left: 180px; }
.offset-4 { margin-left: 240px; }
.offset-5 { margin-left: 300px; }
.offset-6 {	margin-left: 360px; }
.offset-7 {	margin-left: 420px; }
.offset-8 { margin-left: 480px; }
.offset-9 { margin-left: 540px; }
.offset-10 { margin-left: 600px; }
.offset-11 { margin-left: 660px; }



.pull-1 { right: 60px; }
.pull-2 { right: 120px; }
.pull-3 { right: 180px; }
.pull-4 { right: 240px; }
.pull-5 { right: 300px; }
.pull-6 { right: 360px; }
.pull-7 { right: 420px; }
.pull-8 { right: 480px; }
.pull-9 { right: 540px; }
.pull-10 { right: 600px; }
.pull-11 { right: 660px; }



.push-1 { left: 60px; }
.push-2 { left: 120px; }
.push-3 { left: 180px; }
.push-4 { left: 240px; }
.push-5 { left: 300px; }
.push-6 { left: 360px; }
.push-7 { left: 420px; }
.push-8 { left: 480px; }
.push-9 { left: 540px; }
.push-10 { left: 600px; }
.push-11 { left: 660px; }



/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after,
.clearfix:after {
	clear: both;
}
.row,
.clearfix {
	zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
